<%- include('partials/header.ejs') %>

  <!-- CONTENT -->

  <!-- Task List -->
  <div class="container pt-3 ">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr class="">
              <th scope="col">#</th>
              <th scope="col">Task</th>
              <th scope="col">Due To</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <% if (locals.tasksList) { %>
              <% tasksList.forEach((t, i)=> { i++ %>
                <tr>
                  <th scope="row">
                    <%= i++ %>
                  </th>
                  <td class="">
                    <%= t.task %>
                  </td>
                  <td class="">
                    <%= t.dueTo %>
                  </td>
                  <td class="text-end">
                    <button id="checklist-btn" type="button" class="btn btn-success rounded-pill">
                      <i class="bi bi-check-circle"></i>
                    </button>
                    <a href="/edit/<%= t.task %>" id="edit-btn" type="button" class="edit-btn btn btn-info rounded-pill"
                      data-bs-toggle="modal" data-bs-target="#edit-modal">
                      <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="/delete/<%= t.task %>" id="delete-btn" type="button" class="btn btn-danger rounded-pill">
                      <i class="bi bi-trash"></i>
                    </a>
                  </td>
                  <div class="container modal-edit">
                    <!-- Modal -->
                    <div class="modal fade" id="edit-modal" tabindex="-1">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <!-- Update Form -->
                            <form action="/update" method="POST">
                              <input type="hidden" name="oldTask" value="<%= t.task %>">
                              <div class="row ">
                                <div class="col-lg-5 py-2">
                                  <input type="text" class="form-control" name="task" value="<%= t.task %>">
                                </div>
                                <div class="col-lg-5 py-2">
                                  <input type="date" class="form-control" name="dueTo" value="<%= t.dueTo %>">
                                </div>
                              </div>
                          </div>
                          </form>
                          <!-- End of Update Form -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary rounded-pill"
                              data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-info rounded-pill">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
                <% }) %>
                  <% } else {%>
                    <tr>
                      <td>hahaha</td>
                    </tr>
                    <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Of Task List -->
  <%# include('./edit-task.ejs') %>

    <!-- END OF CONTENT -->
    <%- include('partials/footer.ejs') %>