<%- include('partials/header.ejs') %>

  <!-- CONTENT -->

  <!-- Task List -->
  <div class="container pt-3 ">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr class="">
              <th scope="col">#</th>
              <th scope="col">Task</th>
              <th scope="col">Due To</th>
              <th scope="col">Task Status</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <% if (locals.tasksList) { %>
              <% tasksList.forEach(task=> { %>
                <tr>
                  <th scope="row">1</th>
                  <td class="">
                    <%= task.task %>
                  </td>
                  <td class="">
                    <%= task.dueTo %>
                  </td>
                  <td class="">
                    <%= task.taskStatus %>
                  </td>
                  <td class="text-end">
                    <form class="btn btn-success rounded-pill">
                      <i class="bi bi-check-circle"></i>
                    </form>
                    <form class="btn btn-danger rounded-pill">
                      <i class="bi bi-trash"></i>
                    </form>
                    <form class="btn btn-info rounded-pill">Details</form>
                  </td>
                </tr>
                <% }) %>
                  <% } %>


          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Of Task List -->

  <!-- END OF CONTENT -->
  <%- include('partials/footer.ejs') %>